<!DOCTYPE html>
<html>

<head>

    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
        }

        .row {
            display: flex;
        }

        .column {
            flex: 50%;
        }

        h1 {
            white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
            white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
            white-space: -pre-wrap;        /* Opera 4-6 */
            white-space: -o-pre-wrap;      /* Opera 7 */
            white-space: pre-wrap;         /* CSS3 */
            word-wrap: break-word;         /* Internet Explorer 5.5+ */
            word-break: break-all;
            white-space: normal;
        }
        
        .graytext {
            color: gray;
        }

        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted gray; /* If you want dots under the hoverable text */
        }

        /* Tooltip text */
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            font-size: 80%;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            
            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }

        button {
            padding: 10px;
        }

    </style>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://tonejs.github.io/build/Tone.js"></script>
    <script src="https://unpkg.com/wavesurfer.js"></script>

    <script>

        var chordsToggle = false;
        var metronome = new Tone.Player("{{metronome_sound_url}}").toMaster();
        var channel = new Tone.Channel().toMaster();
        var audio = new Tone.Player("{{audio_file}}");
        var wavesurfer = undefined;
        var synth = undefined;

        function init() {

            wavesurfer = WaveSurfer.create({
                container: '#waveform'
            });
            wavesurfer.load("{{audio_file}}")
            wavesurfer.setMute(true)
            
            synth = new Tone.PolySynth(10, Tone.Synth, {
                oscillator: {
                    type: "triangle"
                },
                envelope: {
                    attack: 0.01,
                    decay: 0.01,
                    sustain: 0.1,
                    release: 0.001
                }
            }).toMaster();

            //synth.volume = -40
            
            $('#plusAudio').click(function () { volumeUp() });
            $('#minusAudio').click(function () { volumeDown() });
            $('#startMetronome').click(function () { startMetronome(); });
            $('#restartMetronome').click(function () { restartMetronome(); });
            $('#toggleMetronome').click(function () { toggleMetronome(); });
            //$('#stopMetronome').click(function () { stopMetronome(); });
            $('#toggleChords').click(function () {
                if (chordsToggle == false) {
                    startChords();  
                }
                else {
                    stopChords(); 
                }
            });

            $('#startAudioMetronome').click(function () { startAudioMetronome(); });
            $('#stopAudioMetronome').click(function () { stopAudio(); });
            $('#startAudio').click(function () { startAudio(); });

            // Bind key actions to set and play chords
            $("#key").keydown(function(e){
                e.preventDefault();

                if (e.originalEvent.repeat){
                    return;  // Avoid re-triggering chords if key remains pressed
                }

                if (e.code=="KeyA"){$('#key').val('c'); stopChords(); startChords();}  // C
                else if (e.code=="KeyW"){$('#key').val('c#'); stopChords(); startChords();}  // C#
                else if (e.code=="KeyS"){$('#key').val('d'); stopChords(); startChords();}  // D
                else if (e.code=="KeyE"){$('#key').val('d#'); stopChords(); startChords();}  // D#
                else if (e.code=="KeyD"){$('#key').val('e'); stopChords(); startChords();}  // E
                else if (e.code=="KeyF"){$('#key').val('f'); stopChords(); startChords();}  // F
                else if (e.code=="KeyT"){$('#key').val('f#'); stopChords(); startChords();}  // F#
                else if (e.code=="KeyG"){$('#key').val('g'); stopChords(); startChords();}  // G
                else if (e.code=="KeyY"){$('#key').val('g#'); stopChords(); startChords();} // G#
                else if (e.code=="KeyH"){$('#key').val('a'); stopChords(); startChords();}  // A
                else if (e.code=="KeyU"){$('#key').val('a#'); stopChords(); startChords();}  // A#
                else if (e.code=="KeyJ"){$('#key').val('b'); stopChords(); startChords();}  // B
                else if (e.code=="KeyM"){
                    // toggle major minor none
                    var modeValues = ['none', 'unknown', 'maj', 'min']
                    var currentMode = $("#mode").val()
                    var nextMode = (modeValues.indexOf(currentMode) + 1) % 4
                    $("#mode").val(modeValues[nextMode]);
                    stopChords(); startChords();
                }
            });

            $("#key").keyup(function(e){
                e.preventDefault();
                if (e.code=="KeyA"){stopChords();}  // C
                else if (e.code=="KeyW"){stopChords();}  // C#
                else if (e.code=="KeyS"){stopChords();}  // D
                else if (e.code=="KeyE"){stopChords();}  // D#
                else if (e.code=="KeyD"){stopChords();}  // E
                else if (e.code=="KeyF"){stopChords();}  // F
                else if (e.code=="KeyT"){stopChords();}  // F#
                else if (e.code=="KeyG"){stopChords();}  // G
                else if (e.code=="KeyY"){stopChords();} // G#
                else if (e.code=="KeyH"){stopChords();}  // A
                else if (e.code=="KeyU"){stopChords();}  // A#
                else if (e.code=="KeyJ"){stopChords();}  // B
            });
        }

        function submitBPM() {
            Tone.Transport.bpm.value = $("input[name=bpm]").val();
        }

        function startAudioMetronome() {
            submitBPM()
            stopAudio()
            Tone.Transport.start()
            audio.start()
            wavesurfer.play(0)
        }

        function startAudio() {
            audio.restart()
            wavesurfer.play(0)
        }

        function stopAudio() {
            audio.stop()
            Tone.Transport.stop();
            wavesurfer.stop()

        }

        function startMetronome() {

            if (Tone.Transport.state == "stopped") { Tone.Transport.start() }
            else { Tone.Transport.stop() }
            submitBPM()

        }

        function restartMetronome() {
            submitBPM()
            if (Tone.Transport.state == "stopped") { 
                Tone.Transport.start() 
            }
            else { 
                Tone.Transport.stop() 
                Tone.Transport.start()
            } 
        }

        function toggleMetronome(){
            metronome.mute = !metronome.mute;
            if (metronome.mute){
                $('#toggleMetronome').html('Unmute metronome');
            } else {
                $('#toggleMetronome').html('Mute metronome');
            }
        }

        function startChords() {
            chordsToggle = true
            $("#toggleChords").html("Stop chords");

            var chords = ["c", "c#", "d", "d#", "e", "f", "f#", "g", "g#", "a", "a#", "b", "c", "c#", "d", "d#", "e", "f", "f#", "g", "g#", "a", "a#", "b"]
            var chordsForSynth = ["C4", "C#4", "D4", "D#4", "E4", "F4", "F#4", "G4", "G#4", "A4", "A#4", "B4", "C5", "C#5", "D5", "D#5", "E5", "F5", "F#5", "G5", "G#5", "A5", "A#5", "B5"]
            var index = chords.indexOf($('#key').val())
            if (index == -1){
                return;
            }
            var chordsToUse = []
            if ($('#mode').val() == "maj") {
                chordsToUse = [chordsForSynth[index], chordsForSynth[index + 4], chordsForSynth[index + 7]]
            }

            if ($('#mode').val() == "min") {
                chordsToUse = [chordsForSynth[index], chordsForSynth[index + 3], chordsForSynth[index + 7]]
            }

            if (($('#mode').val() == "none") || ($('#mode').val() == "unknown")){
                chordsToUse = [chordsForSynth[index]]
            }

            synth.triggerAttack(chordsToUse, undefined, 1)
        }

        function stopChords() {
            chordsToggle = false
            $("#toggleChords").html("Start chords");
            synth.releaseAll()
        }

        function volumeUp() {
            channel.volume.value = channel.volume.value + 1

        }

        function volumeDown() {
            channel.volume.value = channel.volume.value - 1
        }

        audio.chain(channel)
        audio.loop = true
        $(function () {

            Tone.Transport.bpm.value = $("input[name=bpm]").val();
            Tone.Transport.scheduleRepeat(function (time) {
                metronome.start(time);
            }, "4n");


            function get_answers() {
                var answers = {};
                answers.instrumentation = {
                    percussion: $("input[name=percussion]").is(":checked"),
                    bass: $("input[name=bass]").is(":checked"),
                    chords: $("input[name=chords]").is(":checked"),
                    melody: $("input[name=melody]").is(":checked"),
                    fx: $("input[name=fx]").is(":checked"),
                    vocal: $("input[name=vocal]").is(":checked")
                }
                if ($('#other_element').is(":checked")) { answers.instrumentation.other = $('#other_text').val() }
                if ($('#defined_tempo').is(":checked")){answers.bpm = $("input[name=bpm]").val()}
                else{answers.bpm = "none"}
                answers.signature = String($("input[name=metricUpper]").val()) + "/" + String($("input[name=metricLower]").val())
                answers.well_cut = $("#well_cut").is(":checked");
                if($('#defined_key').is(":checked")){
                    answers.key = $('#key').val()
                    answers.mode = $('#mode').val()
                }
                else{
                    answers.key = "none"
                    answers.mode = "none"
                }

                answers.genres = []
                $("#genres input:checkbox:checked").each(function () {
                    answers.genres.push($(this).val())
                });

                answers.comments = $("textarea#comments").val()
                answers.discard = $("input[name=discard]").is(":checked")
                console.log(answers)
                return answers
            }

            function send_answers() {
                var result = confirm("Are you sure?")
                if (result===false){
                    return
                }

                var answers = get_answers();
                var data = {
                    answers: answers,
                    page: '{{page}}',
                    id: '{{sound_id}}'
                }
                $.ajax({
                    url: '/fslannotator/',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        console.log(data);
                        window.location.replace("/fslannotator/?p={{page+1}}");
                    },
                    data: JSON.stringify(data)
                });
            }


            $('#submit-button').click(function () { send_answers(); });
            //$('#stopChords').click(function () { stopChords(); });

        });
    </script>

</head>


<body onload="init()">
    <div class="row">
        <div class="column">
            <h1>{{sound_id}} - {{loop_name}} [{{page}}/{{n_pages}}]</h1>
            <p><b>Description:</b> {{description}}</p>
            <p><b>Tags:</b> {{tags}}</p>
            <!-- <img stlye="width:90%;" src="{{sound_image}}" alt="{{sound_image}}"> -->
            <!--iframe style="display:inline-block;" frameborder="0" scrolling="no" width="481" height="86"
                src="https://freesound.org/embed/sound/iframe/{{sound_id}}/simple/medium/">
            </iframe-->
            <div id="waveform" style="width:500px;"></div>
            <p class="graytext">The audio will keep looping, even after the visualisation is finished</p>

            <button id="startAudioMetronome" title="Start audio and metronome">Play</button> 
            <button id="stopAudioMetronome" title="Stop audio and metronome">Stop</button>
            <!--br>
            <button id="startAudio" title="Restart audio, keep metronome">Cue audio</button>
            <br-->
            <br>
            <button id="restartMetronome" title="Restart the metronome, keep the audio playing">Restart metronome</button>
            <button id="toggleMetronome" title="Mute/unmute metronome">Mute metronome</button>
            <br>
            <button id="toggleChords">Start chords</button>
            <br>
            <button id="plusAudio">Audio Volume +</button>
            <button id="minusAudio">Audio Volume -</button>
            <br>
            <br>
            <button id="submit-button"
                style="margin-left:calc(50% - 75px); width:150px; height: 100px; background-color: crimson; color: white; font-size: 120%; border-radius: 10px;">Submit! :)</button>
            <br>

        </div>

        <div class="column" style="background-color: #F5F5F5; padding-left: 20px;">
            <!--
            <p>Is the loop harmonic and/or percussive:</p>
            <form>
                <input type="checkbox" name="harmonic" value="harmonic">Harmonic<br>
                <input type="checkbox" name="percussive" value="percussive">Percussive<br>
            </form>

            <p>Does it contain a single or multiple instruments?</p>
            <form>
                <input type="radio" name="instrumentation" value="single"> Single<br>
                <input type="radio" name="instrumentation" value="multiple"> Multiple<br>
            </form>

            <p>Are these instruments present?</p>
            <form>
                {% for instrument in instruments %}
                <input type="checkbox" name="{{instrument}}" value="{{instrument}}"> {{instrument}}<br>
                {% endfor %}

                <p>Any other instruments? (Add the instrument names separated by commas)</p>
                <input type="text" name="other_instruments" size=80>
            </form>

-->

            <p>What elements does the loop conatin?
                <br>
                <input type="checkbox" id="percussion_id" name="percussion" value="percussion"> <label for="percussion_id">Percussion</label> <span class="graytext">(e.g. drums, congas, cymbals)</span> <br>
                <input type="checkbox" id="bass_id" name="bass" value="bass"> <label for="bass_id">Bass</label> <span class="graytext">(e.g. digital bass, fingered bass, 808)</span> <br>
                <input type="checkbox" id="chords_id" name="chords" value="chords"> <label for="chords_id">Chords</label> <span class="graytext">(e.g. piano chords, guitar chords)</span> <br>
                <input type="checkbox" id="melody_id" name="melody" value="melody"> <label for="melody_id">Melody</label> <span class="graytext">(e.g. lead instrument playing a melody, synth arpeggiator)</span> <br> 
                <input type="checkbox" id="fx_id" name="fx" value="fx"> <label for="fx_id">Sound FX</label> <span class="graytext">(e.g. risers, cinematic sounds, foley)</span> <br>
                <input type="checkbox" id="vocal_id" name="vocal" value="vocal"> <label for="vocal_id">Vocal</label> <span class="graytext">(e.g. singing voice, spoken Word, vocoder)</span> <br>
                <input type="checkbox" id="other_element"
                    onclick="if (this.checked){ document.getElementById('other_text').removeAttribute('disabled');}" /><textarea
                    id="other_text" name="other_text" disabled>Other</textarea>
            </p>

            <p>What is the BPM?
                <br>
                <input type="checkbox" id="defined_tempo" checked
                onclick="if (this.checked === false){ document.getElementById('bpm').disabled = true;} 
                        else{document.getElementById('bpm').disabled = false;}"> <label for="defined_tempo"> The loop has a clear and steady tempo</label>
                <br>                
                <input type="text" name="bpm" id="bpm" value="{{guessedBPM}}" onchange="restartMetronome();">
            </p>
            
            <p>What is the time signature?
                <br>
                <input type="text" name="metricUpper" value="4"> / <input type="text" name="metricLower" value="4">
            </p>

            <p>Is the loop well cut? <span class="graytext">(i.e. the loop starts in the begginig of the file, finishes at the end)</span>
                <br>
                <input id="well_cut" type="checkbox" name="wellCut" value="wellCut" checked> <label for="well_cut">Yes</label>
            </p>

            <p>What is the key?
                <span class="graytext">(if loop has tonal content, select a key that <i>sounds good</i> with the loop)</span>
                <br>
                <input type="checkbox" id="defined_key" checked
                onclick="if (this.checked === false){ document.getElementById('key').disabled = true; document.getElementById('mode').disabled = true;}
                        else{ document.getElementById('key').disabled = false; document.getElementById('mode').disabled = false;}"> <label for="defined_key"> The loop has tonal content</label>
                <br>               
                <select id="key" onchange="if (chordsToggle === true){stopChords();startChords();};">
                    <option value="none">None</option>
                    <option value="unknown">Unknown</option>
                    <option value="c" {% if guessedKey=="C"  %} selected{% endif %}>C</option>
                    <option value="c#" {% if guessedKey=="C#" %} selected{% endif %}>C#</option>
                    <option value="d" {% if guessedKey=="D"  %} selected{% endif %}>D</option>
                    <option value="d#" {% if guessedKey=="D#" %} selected{% endif %}>D#</option>
                    <option value="e" {% if guessedKey=="E"  %} selected{% endif %}>E</option>
                    <option value="f" {% if guessedKey=="F"  %} selected{% endif %}>F</option>
                    <option value="f#" {% if guessedKey=="F#" %} selected{% endif %}>F#</option>
                    <option value="g" {% if guessedKey=="G"  %} selected{% endif %}>G</option>
                    <option value="g#" {% if guessedKey=="G#" %} selected{% endif %}>G#</option>
                    <option value="a" {% if guessedKey=="A"  %} selected{% endif %}>A</option>
                    <option value="a#" {% if guessedKey=="A#" %} selected{% endif %}>A#</option>
                    <option value="b" {% if guessedKey=="B"  %} selected{% endif %}>B</option>
                </select>
                <select id="mode" onchange="if (chordsToggle === true){stopChords();startChords();};">
                    <option value="none">None</option>
                    <option value="unknown">Unknown</option>
                    <option value="maj" {% if guessedMode=="major"%} selected{% endif %}>Major</option>
                    <option value="min" {% if guessedMode=="minor"%} selected{% endif %}>Minor</option>
                </select>
                <br>
                <span class="graytext" style="font-size: 80%;"><b>TIP:</b> if you double click on the key root dropdown (to give it focus), then you can use key 'A', 'W', 'S'... so change root notes and quickly play chords without pressing the "start chords" button on the left. Also use key 'M' to cycle through scala options. </span>
            </p>

           Does it belong to any of these genres?
           <span class="graytext">(would the loop be useful for creating music in this genre?)</span>
                <div id="genres">
                    <input type="checkbox" {% if "bass music" in genres %} checked {% endif %} id="bass_music"
                        value="bass music"> 
                        <label for="bass_music">Bass Music</label> 
                        <span class="graytext">(Dubstep, Drum & Bass, Jungle, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                Bass House<br>
                                Complextro<br>
                                Future Bass<br>
                                Grime<br>
                                Moombah<br>
                                Drumstep<br>
                                Breakbeat<br>
                                Tearout Dubstep<br>
                                Leftfield Bass<br>
                                Breaks<br>
                                Neurofunk<br>
                                Footwork
                            </span>
                        </span>)
                    </span>
                    <br>
                    
                    <input type="checkbox" {% if "live sounds" in genres %} checked {% endif %} id="live_sounds"
                        value="live sounds"> 
                        <label for="live_sounds">Live Sounds</label>
                        <span class="graytext">(Rock, Jazz, Disco, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                Indie Dance<br>
                                Blues<br>
                                Heavy Metal<br>
                                Funk<br>
                                Folk<br>
                                Country<br>
                                Nu Disco<br>
                                Soul<br>
                                R&B<br>
                                Gospel<br>
                                Neo Soul
                            </span>
                        </span>)
                    </span>
                    <br>
                    
                    <input type="checkbox" {% if "cinematic" in genres %} checked {% endif %} id="cinematic"
                        value="cinematic"> 
                        <label for="cinematic">Cinematic</label>
                        <span class="graytext">(Sound FX, Filmscore, Sci-Fi, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                Soundtrack<br>
                                Action<br>
                                Horror<br>
                                Game
                            </span>
                        </span>)
                    </span>
                    <br>

                    <input type="checkbox" {% if "global" in genres %} checked {% endif %} id="global" 
                        value="global">
                        <label for="global">Global</label>
                        <span class="graytext">(Reggae, Dancehall, Indian Music, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                African Music<br>
                                Asian Music<br>
                                South American Music<br>
                                Dub<br>
                                Reggae<br>
                                Latin<br>
                                Middle Eastern Music<br>
                                Reggae<br>
                                Afropop<br>
                                Brazilian Music<br>
                                South Asian Music<br>
                                Caribbean Music
                            </span>
                        </span>)
                    </span>
                    <br>

                    <input type="checkbox" {% if "hip hop" in genres %} checked {% endif %} id="hip_hop" 
                        value="hip hop"> 
                        <label for="hip_hop">Hip Hop</label>
                        <span class="graytext">(Trap, Boom Bap, Lofi Hip Hop, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                East Coast Hip Hop<br>
                                Experimental Hip Hop<br>
                                Southern Hip Hop<br>
                                West Coast Hip Hop
                            </span>
                        </span>)
                    </span>
                    <br>

                    <input type="checkbox" {% if "electronic" in genres %} checked {% endif %} id="electronic"
                        value="electronic"> 
                        <label for="electronic">Electronic</label>
                        <span class="graytext">(Ambient, Experimental, Chill Out, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                Bit Music<br>
                                Broken Beat<br>
                                Chill Out<br>
                                Downtempo<br>
                                Drone<br>
                                Electronica<br>
                                Glitch<br>
                                IDM<br>
                                Indie Dance<br>
                                Industrial<br>
                                Lo-Fi<br>
                                Synth Pop<br>
                                Trip Hop<br>
                                Synthwave<br>
                                Chiptune
                            </span>
                        </span>)
                    </span>
                    <br>

                    <input type="checkbox" {% if "house / techno" in genres %} checked {% endif %} id="house_techno"
                        value="house / techno"> 
                        <label for="house_techno">House / Techno</label>
                        <span class="graytext">(Deep House, Electro, Tech House, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                House<br>
                                Techno<br>
                                Acid House<br>
                                Bass House<br>
                                Bass Line<br>
                                G House<br>
                                Nu Disco<br>
                                Progressive House<br>
                                Tech House<br>
                                Tribal House<br>
                                UK Garage<br>
                                Classic House<br>
                                Electro House<br>
                                Future House<br>
                                Funky House<br>
                                Garage<br>
                                Progressive House<br>
                                Tech House<br>
                                Tribal House<br>
                                Dub Techno<br>
                                Hardcore<br>
                                Minimal<br>
                                Melodic Techno<br>
                                Hardstyle<br>
                                Hard Techno<br>
                                Tech House<br>
                                Tropical House
                            </span>
                        </span>)
                    </span>
                    <br>

                    <input type="checkbox" {% if "other dance music" in genres %} checked {% endif %} id="other_dance_music"
                        value="other dance music"> 
                        <label for="other_dance_music">Other Dance Music</label>
                        <span class="graytext">(EDM, Psy Trance, Hardstyle, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                Complextro<br>
                                Dance<br>
                                Melbourne Dance<br>
                                Psybient<br>
                                Trance
                            </span>
                        </span>)
                    </span>
                    <br>
                </div>
            

            <br>
            <p>Any comments?</p>
            <textarea name="comments" id="comments" cols="40" rows="5"></textarea>

            <p> <input type="checkbox" name="discard" value="discard"> Discard this loop from our dataset? (If it is not
                a loop) <br></p>

        </div>
    </div>
</body>

</html>
