<!DOCTYPE html>
<html>

<head>

    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
        }

        button {
            margin-bottom: 5px;
        }

        .row {
            display: flex;
        }

        .column {
            flex: 50%;
        }

        h1 {
            white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
            white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
            white-space: -pre-wrap;        /* Opera 4-6 */
            white-space: -o-pre-wrap;      /* Opera 7 */
            white-space: pre-wrap;         /* CSS3 */
            word-wrap: break-word;         /* Internet Explorer 5.5+ */
            word-break: break-all;
            white-space: normal;
        }
        
        .graytext {
            color: gray;
        }

        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted gray; /* If you want dots under the hoverable text */
        }

        /* Tooltip text */
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            font-size: 80%;
            background-color: black;
            color: #fff;
            text-align: left;
            padding: 5px;
            border-radius: 6px;
            
            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }

        .tooltip:hover {
            cursor: pointer;
        }

        button {
            padding: 10px;
        }

    </style>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://tonejs.github.io/build/Tone.js"></script>
    <script src="https://unpkg.com/wavesurfer.js"></script>

    <script>

        var chordsToggle = false;
        var chordsOctave = 4;
        var all_chord_trigger_keys = ["KeyA", "KeyW", "KeyS", "KeyE", "KeyD", "KeyF", "KeyT", "KeyG", "KeyY", "KeyH", "KeyU", "KeyJ", "KeyM", "Comma", "Period"]
        var metronome = new Tone.Player("{{metronome_sound_url}}").toMaster();
        var channel = new Tone.Channel().toMaster();
        var audio = new Tone.Player("{{audio_file}}");
        var wavesurfer = undefined;
        var synth = undefined;

        function init() {

            wavesurfer = WaveSurfer.create({
                container: '#waveform',
                interact: false
            });
            wavesurfer.load("{{audio_file}}")
            wavesurfer.setMute(true)
            
            synth = new Tone.PolySynth(10, Tone.Synth, {
                oscillator: {
                    type: "triangle"
                },
                envelope: {
                    attack: 0.01,
                    decay: 0.01,
                    sustain: 0.1,
                    release: 0.001
                }
            }).toMaster();

            //synth.volume = -40
            
            $('#plusAudio').click(function () { volumeUp() });
            $('#minusAudio').click(function () { volumeDown() });
            $('#startMetronome').click(function () { startMetronome(); });
            $('#restartMetronome').click(function () { restartMetronome(); });
            $('#toggleMetronome').click(function () { toggleMetronome(); });
            //$('#stopMetronome').click(function () { stopMetronome(); });
            $('#toggleChords').click(function () {
                if (chordsToggle == false) {
                    startChords();  
                }
                else {
                    stopChords(); 
                }
            });

            $('#startAudioMetronome').click(function () { startAudioMetronome(); });
            $('#stopAudioMetronome').click(function () { stopAudio(); });
            $('#startAudio').click(function () { startAudio(); });

            // Bind key actions to set and play chords
            $("body").keydown(function(e){
                if ($('#other_text').is(":focus") || $('#comments').is(":focus")){
                    // If other field or comments field have focus, don't trigger notes
                    return;
                }

                if (all_chord_trigger_keys.indexOf(e.code) == -1){
                    return;
                }

                e.preventDefault();

                if (e.originalEvent.repeat){
                    return;  // Avoid re-triggering chords if key remains pressed
                }

                if (e.code=="KeyA"){$('#key').val('c'); stopChords(); startChords();}  // C
                else if (e.code=="KeyW"){$('#key').val('c#'); stopChords(); startChords();}  // C#
                else if (e.code=="KeyS"){$('#key').val('d'); stopChords(); startChords();}  // D
                else if (e.code=="KeyE"){$('#key').val('d#'); stopChords(); startChords();}  // D#
                else if (e.code=="KeyD"){$('#key').val('e'); stopChords(); startChords();}  // E
                else if (e.code=="KeyF"){$('#key').val('f'); stopChords(); startChords();}  // F
                else if (e.code=="KeyT"){$('#key').val('f#'); stopChords(); startChords();}  // F#
                else if (e.code=="KeyG"){$('#key').val('g'); stopChords(); startChords();}  // G
                else if (e.code=="KeyY"){$('#key').val('g#'); stopChords(); startChords();} // G#
                else if (e.code=="KeyH"){$('#key').val('a'); stopChords(); startChords();}  // A
                else if (e.code=="KeyU"){$('#key').val('a#'); stopChords(); startChords();}  // A#
                else if (e.code=="KeyJ"){$('#key').val('b'); stopChords(); startChords();}  // B
                else if (e.code=="KeyM"){
                    // toggle major minor none
                    var modeValues = ['none', 'unknown', 'maj', 'min']
                    var currentMode = $("#mode").val()
                    var nextMode = (modeValues.indexOf(currentMode) + 1) % 4
                    $("#mode").val(modeValues[nextMode]);
                    if (chordsToggle) {
                        stopChords(); startChords();
                    }
                }
                else if (e.code=="Comma"){octaveDown();}
                else if (e.code=="Period"){octaveUp();}
            });

            $("body").keyup(function(e){
                if (all_chord_trigger_keys.indexOf(e.code) == -1){
                    return;
                }
                e.preventDefault();
                if (e.code=="KeyA"){ if ($('#key').val() =='c') {stopChords();}}  // C
                else if (e.code=="KeyW"){ if ($('#key').val() =='c#') {stopChords();}} // C#
                else if (e.code=="KeyS"){ if ($('#key').val() =='d') {stopChords();}} // D
                else if (e.code=="KeyE"){ if ($('#key').val() =='d#') {stopChords();}}  // D#
                else if (e.code=="KeyD"){ if ($('#key').val() =='e') {stopChords();}}  // E
                else if (e.code=="KeyF"){ if ($('#key').val() =='f') {stopChords();}}  // F
                else if (e.code=="KeyT"){ if ($('#key').val() =='f#') {stopChords();}}  // F#
                else if (e.code=="KeyG"){ if ($('#key').val() =='g') {stopChords();}}  // G
                else if (e.code=="KeyY"){ if ($('#key').val() =='g#') {stopChords();}} // G#
                else if (e.code=="KeyH"){ if ($('#key').val() =='a') {stopChords();}}  // A
                else if (e.code=="KeyU"){ if ($('#key').val() =='a#') {stopChords();}}  // A#
                else if (e.code=="KeyJ"){ if ($('#key').val() =='b') {stopChords();}}  // B
            });
        }

        function submitBPM() {
            Tone.Transport.bpm.value = $("input[name=bpm]").val();
        }

        function startAudioMetronome() {
            submitBPM()
            stopAudio()
            Tone.Transport.start()
            audio.start()
            wavesurfer.play(0)
        }

        function startAudio() {
            audio.restart()
            wavesurfer.play(0)
        }

        function stopAudio() {
            audio.stop()
            Tone.Transport.stop();
            wavesurfer.stop()

        }

        function startMetronome() {

            if (Tone.Transport.state == "stopped") { Tone.Transport.start() }
            else { Tone.Transport.stop() }
            submitBPM()

        }

        function restartMetronome() {
            submitBPM()
            if (Tone.Transport.state == "stopped") { 
                Tone.Transport.start() 
            }
            else { 
                Tone.Transport.stop() 
                Tone.Transport.start()
            } 
        }

        function toggleMetronome(){
            metronome.mute = !metronome.mute;
            if (metronome.mute){
                $('#toggleMetronome').html('Unmute metronome');
            } else {
                $('#toggleMetronome').html('Mute metronome');
            }
        }

        function octaveUp() {
            chordsOctave += 1;
            if (chordsOctave > 6){
                chordsOctave = 6;
            }

            if (chordsToggle) {
                stopChords();
                startChords();
            }
        }

        function octaveDown(){
            chordsOctave -= 1;
            if (chordsOctave < 1){
                chordsOctave = 1;
            }

            if (chordsToggle) {
                stopChords();
                startChords();
            }
        }

        function startChords() {
            chordsToggle = true
            $("#toggleChords").html("Stop chords");

            console.log("Playing chords...")

            var chords = ["c", "c#", "d", "d#", "e", "f", "f#", "g", "g#", "a", "a#", "b", "c", "c#", "d", "d#", "e", "f", "f#", "g", "g#", "a", "a#", "b"]
            var chordsForSynth = ["C" + chordsOctave, "C#" + chordsOctave, "D" + chordsOctave, "D#" + chordsOctave, "E" + chordsOctave, "F" + chordsOctave, "F#" + chordsOctave, "G" + chordsOctave, "G#" + chordsOctave, "A" + chordsOctave, "A#" + chordsOctave, "B" + chordsOctave, "C" + (chordsOctave  + 1), "C#" + (chordsOctave  + 1), "D"  + (chordsOctave  + 1), "D#"  + (chordsOctave  + 1), "E"  + (chordsOctave  + 1), "F"  + (chordsOctave  + 1), "F#"  + (chordsOctave  + 1), "G"  + (chordsOctave  + 1), "G#"  + (chordsOctave  + 1), "A"  + (chordsOctave  + 1), "A#"  + (chordsOctave  + 1), "B"  + (chordsOctave  + 1)]
            var index = chords.indexOf($('#key').val())
            if (index == -1){
                return;
            }
            var chordsToUse = []
            if ($('#mode').val() == "maj") {
                chordsToUse = [chordsForSynth[index], chordsForSynth[index + 4], chordsForSynth[index + 7]]
            }

            if ($('#mode').val() == "min") {
                chordsToUse = [chordsForSynth[index], chordsForSynth[index + 3], chordsForSynth[index + 7]]
            }

            if (($('#mode').val() == "none") || ($('#mode').val() == "unknown")){
                chordsToUse = [chordsForSynth[index]]
            }

            synth.triggerAttack(chordsToUse, undefined, 1)
        }

        function stopChords() {
            chordsToggle = false
            $("#toggleChords").html("Play chords");
            synth.releaseAll()
        }

        function volumeUp() {
            channel.volume.value = channel.volume.value + 1

        }

        function volumeDown() {
            channel.volume.value = channel.volume.value - 1
        }

        audio.chain(channel)
        audio.loop = true
        $(function () {

            Tone.Transport.bpm.value = $("input[name=bpm]").val();
            Tone.Transport.scheduleRepeat(function (time) {
                metronome.start(time);
            }, "4n");


            function get_answers(answers_init = {}) {
                var answers = answers_init;
                answers.instrumentation = {
                    percussion: $("input[name=percussion]").is(":checked"),
                    bass: $("input[name=bass]").is(":checked"),
                    chords: $("input[name=chords]").is(":checked"),
                    melody: $("input[name=melody]").is(":checked"),
                    fx: $("input[name=fx]").is(":checked"),
                    vocal: $("input[name=vocal]").is(":checked")
                }
                //if ($('#other_element').is(":checked")) { answers.instrumentation.other = $('#other_text').val() }
                answers.defined_tempo =$("#defined_tempo").is(":checked");
                answers.bpm = $("input[name=bpm]").val()
                answers.signature = String($("input[name=metricUpper]").val()) + "/" + String($("input[name=metricLower]").val())
                answers.well_cut = $("#well_cut").is(":checked");
                if($('#defined_key').is(":checked")){
                    answers.key = $('#key').val()
                    answers.mode = $('#mode').val()
                }
                else{
                    answers.key = "none"
                    answers.mode = "none"
                }

                answers.genres = []
                $("#genres input:checkbox:checked").each(function () {
                    answers.genres.push($(this).val())
                });

                answers.comments = $("textarea#comments").val()
                //answers.discard = $("input[name=discard]").is(":checked")
                console.log(answers)
                return answers
            }

            function send_answers(answers_init = {}) {
                var result = confirm("Are you sure?")
                if (result===false){
                    return
                }

                var answers = get_answers(answers_init);
                var data = {
                    answers: answers,
                    page: '{{page}}',
                    id: '{{sound_id}}'
                }
                $.ajax({
                    url: '/fslannotator/',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data) {
                        console.log(data);
                        window.location.replace("/fslannotator/?p={{page+1}}");
                    },
                    data: JSON.stringify(data)
                });
            }


            $('#submit-button').click(function () { answers = {}; answers.discard = false; answers.save_for_later = false; send_answers(answers); }); 
            $('#save-for-later-button').click(function () { answers = {}; answers.discard = false; answers.save_for_later = true; send_answers(answers); });
            $('#discard-button').click(function () { answers = {}; answers.discard = true; answers.save_for_later = false; send_answers(answers); });
            //$('#stopChords').click(function () { stopChords(); });

        });
    </script>

</head>


<body onload="init()">
    <div class="row">
        <div class="column">
            <h1>{{sound_id}} - {{loop_name}} [{{page}}/{{n_pages}}]</h1>
            <p><b>Username:</b> {{username}}</p>
            <p><b>Description:</b> {{description}}</p>
            <p><b>Tags:</b> {{tags}}</p>
            <!-- <img stlye="width:90%;" src="{{sound_image}}" alt="{{sound_image}}"> -->
            <!--iframe style="display:inline-block;" frameborder="0" scrolling="no" width="481" height="86"
                src="https://freesound.org/embed/sound/iframe/{{sound_id}}/simple/medium/">
            </iframe-->
            <div id="waveform" style="width:500px;"></div>
            <p class="graytext">Note that the audio playhead <b>won't</b> follow the looping</p>

            <button id="startAudioMetronome" title="Start audio and metronome">&#9654;</button> 
            <button id="stopAudioMetronome" title="Stop audio and metronome">&#9632;</button>
            <button id="plusAudio">Audio Volume +</button>
            <button id="minusAudio">Audio Volume -</button>
            <!--br>
            <button id="startAudio" title="Restart audio, keep metronome">Cue audio</button>
            <br-->
            <br>
            <button id="restartMetronome" title="Restart the metronome, keep the audio playing">Restart metronome</button>
            <button id="toggleMetronome" title="Mute/unmute metronome">Mute metronome</button>
            <button id="toggleChords">Play chords</button>
            <br>
            <br>
            <button id="submit-button"
                style="margin-left:calc(50% - 75px); width:150px; height: 75px; margin-bottom: 5px; background-color: green; color: white; font-size: 120%; border-radius: 10px;">Submit :)</button>
            <button id="save-for-later-button"
                style="margin-left:calc(50% - 75px); width:150px; height: 75px; margin-bottom: 5px; background-color: orange; color: white; font-size: 120%; border-radius: 10px;">
                <span class="tooltip">Save for later<span class="tooltiptext" style="width: 250px;bottom:0px;">
                    - Save for later will remove your loop from the list of assigned loops
                    <br><br>- Make as <i>save for later</i> these loops which are difficult to annotate (e.g. tempo does not match, loop is very confusing)
                    <br><br>- Try to be quite strict with that option. It should mainly be used to get rid of some cases of time-consuming annotations that you know are problematic.
                    <br><br>- Admins will be able to get a list of all the loops which have been saved for later
                </span></span>
            </button>
            <button id="discard-button"
                style="margin-left:calc(50% - 75px); width:150px; height: 75px; margin-bottom: 5px; background-color: crimson; color: white; font-size: 120%; border-radius: 10px;">
                    <span class="tooltip">Discard :(<span class="tooltiptext" style="width: 250px;bottom:0px;">
                        - Discard if the sound is not really a loop
                        <br><br>- Drum fills, sampels of single notes (one shots) should generally be discarted.
                        <br><br>- Long sounds (> ~30 seconds) should be discarted as these are most probably jams or music fragments with a structure bigger than a loop
                    </span></span>
            </button>
        </div>

        <span class="column" style="background-color: #F5F5F5; padding-left: 20px;">
            <!--
            <p>Is the loop harmonic and/or percussive:</p>
            <form>
                <input type="checkbox" name="harmonic" value="harmonic">Harmonic<br>
                <input type="checkbox" name="percussive" value="percussive">Percussive<br>
            </form>

            <p>Does it contain a single or multiple instruments?</p>
            <form>
                <input type="radio" name="instrumentation" value="single"> Single<br>
                <input type="radio" name="instrumentation" value="multiple"> Multiple<br>
            </form>

            <p>Are these instruments present?</p>
            <form>
                {% for instrument in instruments %}
                <input type="checkbox" name="{{instrument}}" value="{{instrument}}"> {{instrument}}<br>
                {% endfor %}

                <p>Any other instruments? (Add the instrument names separated by commas)</p>
                <input type="text" name="other_instruments" size=80>
            </form>

-->

            <p>What elements does the loop conatin?
                <span class="tooltip">help...<span class="tooltiptext" style="width: 200px;">
                    - You can check multiple elements
                    <br><br>- If you can't decide between two elements, check both
                    <br><br>- If the loop contains weird and glitchy sounds rhythmically organized, this should be "percussion" and not necessarily "sound fx"
                </span></span>
                <br>
                <input type="checkbox" id="percussion_id" name="percussion" value="percussion"> <label for="percussion_id">Percussion</label> <span class="graytext">(e.g. drums, congas, cymbals, glitchy percussion, tuned percussion)</span> <br>
                <input type="checkbox" id="bass_id" name="bass" value="bass"> <label for="bass_id">Bass</label> <span class="graytext">(e.g. synth bass, fingered bass)</span> <br>
                <input type="checkbox" id="chords_id" name="chords" value="chords"> <label for="chords_id">Chords</label> <span class="graytext">(e.g. piano chords, guitar chords, synth pads)</span> <br>
                <input type="checkbox" id="melody_id" name="melody" value="melody"> <label for="melody_id">Melody</label> <span class="graytext">(e.g. lead instrument playing a melody, synth arpeggiator)</span> <br> 
                <input type="checkbox" id="fx_id" name="fx" value="fx"> <label for="fx_id">Sound fx</label> <span class="graytext">(e.g. risers, cinematic sounds, foley, scratching)</span> <br>
                <input type="checkbox" id="vocal_id" name="vocal" value="vocal"> <label for="vocal_id">Vocal</label> <span class="graytext">(e.g. singing voice, spoken word, vocoder)</span> <br>
                <!--input type="checkbox" id="other_element"
                    onclick="if (this.checked){ document.getElementById('other_text').removeAttribute('disabled');}" /><textarea
                    id="other_text" name="other_text" disabled>Other</textarea-->
            </p>

            <p>What is the tempo (BPM)?
                <span class="tooltip">help...<span class="tooltiptext" style="width: 300px;">
                    - If a loop has changing tempo, you can put here the initial tempo and add a note in the comment section (also uncheck the "The loop has a clear and steady tempo" option)
                    <br><br>- If the proposed tempo does not match and it is not easy to find the correct one, add a note in the comments section and click the "save for later" option.
                    <br><br>- If the loop has no clear beat, but you can still find the tempo, unselect the "The loop has a clear and steady tempo" checkbox and add the tempo
                </span></span>
                <br>
                <input type="checkbox" id="defined_tempo" checked> <label for="defined_tempo"> The loop has a clear and steady tempo</label>
                <br>                
                <input type="text" name="bpm" id="bpm" value="{{guessedBPM}}" onchange="restartMetronome();">
            </p>
            
            <p>What is the time signature?
                <br>
                <input type="text" name="metricUpper" value="4"> / <input type="text" name="metricLower" value="4">
            </p>

            <p>Is the loop well cut?
                <span class="tooltip">help...<span class="tooltiptext" style="width: 300px;">
                    - A loop is well cut if whenever it loops the metronome still sounds in the correct position
                    <br><br>- In some cases the metonome goes out of sync after several repetitions. If metronome plays well during the first ~4 repetitions, consider the loop to be well cut.
                    <br><br>- Some loops are cut in a way that there is 1 last bar of silence to account for, e.g, reverb and delay tails. This shold be considered well cut (if the metornome matches when looping).
                    <br><br>- In case the audio loops correctly but it does not start on the perceived downbeat, add a comment saying there is an offset.
                    </span></span>
                <br>
                <input id="well_cut" type="checkbox" name="wellCut" value="wellCut" checked> <label for="well_cut">Yes</label>
            </p>

            <p>What is the key?
                <span class="tooltip">help...<span class="tooltiptext" style="width: 300px;">
                    - A loop has "prominent tonal content" if it is easy to "sing" along it or easily find a meaningful root note
                    <br><br>- If the loop is percussive but has a pitched kick, don't consider it "prominent tonal content"
                    <br><br>- If loop has prominent tonal content, select a key that "sounds good" with the loop
                    <br><br>- If loop clearly has prominent tonal content but still it is hard to determine key, set it to "unknown"
                </span></span>
                <br>
                <input type="checkbox" id="defined_key" checked
                onclick="if (this.checked === false){ document.getElementById('key').disabled = true; document.getElementById('mode').disabled = true;}
                        else{ document.getElementById('key').disabled = false; document.getElementById('mode').disabled = false;}"> <label for="defined_key"> The loop has prominent tonal content</label>
                <br>               
                <select id="key" onchange="if (chordsToggle === true){stopChords();startChords();};">
                    <option value="none">None</option>
                    <option value="unknown">Unknown</option>
                    <option value="c" {% if guessedKey=="C"  %} selected{% endif %}>C</option>
                    <option value="c#" {% if guessedKey=="C#" %} selected{% endif %}>C#</option>
                    <option value="d" {% if guessedKey=="D"  %} selected{% endif %}>D</option>
                    <option value="d#" {% if guessedKey=="D#" %} selected{% endif %}>D#</option>
                    <option value="e" {% if guessedKey=="E"  %} selected{% endif %}>E</option>
                    <option value="f" {% if guessedKey=="F"  %} selected{% endif %}>F</option>
                    <option value="f#" {% if guessedKey=="F#" %} selected{% endif %}>F#</option>
                    <option value="g" {% if guessedKey=="G"  %} selected{% endif %}>G</option>
                    <option value="g#" {% if guessedKey=="G#" %} selected{% endif %}>G#</option>
                    <option value="a" {% if guessedKey=="A"  %} selected{% endif %}>A</option>
                    <option value="a#" {% if guessedKey=="A#" %} selected{% endif %}>A#</option>
                    <option value="b" {% if guessedKey=="B"  %} selected{% endif %}>B</option>
                </select>
                <select id="mode" onchange="if (chordsToggle === true){stopChords();startChords();};">
                    <option value="none">None</option>
                    <option value="unknown">Unknown</option>
                    <option value="maj" {% if guessedMode=="major"%} selected{% endif %}>Major</option>
                    <option value="min" {% if guessedMode=="minor"%} selected{% endif %}>Minor</option>
                </select>
                <button onclick="octaveDown();" title="octave down"><</button><button onclick="octaveUp();" title="octave up">></button>
                <br>
                <span class="graytext" style="font-size: 80%;"><b>TIP:</b> use keys 'A', 'W', 'S'... to change root notes and quickly play chords without pressing the "play chords" button on the left. Also use key 'M' to cycle through scale options and ',' and '.' to change octave. </span>
            </p>

           Does it belong to any of these genres?
           <span class="tooltip">help...<span class="tooltiptext" style="width: 250px;">
            - Think of this as "would the loop be useful for creating music in this genre?"
            <br><br>- You can select multiple genres
            </span></span>
           <span class="graytext"></span>
                <div id="genres">
                    <input type="checkbox" {% if "bass music" in genres %} checked {% endif %} id="bass_music"
                        value="bass music"> 
                        <label for="bass_music">Bass Music</label> 
                        <span class="graytext">(Dubstep, Drum & Bass, Jungle, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                Bass House<br>
                                Complextro<br>
                                Future Bass<br>
                                Grime<br>
                                Moombah<br>
                                Drumstep<br>
                                Breakbeat<br>
                                Tearout Dubstep<br>
                                Leftfield Bass<br>
                                Breaks<br>
                                Neurofunk<br>
                                Footwork
                            </span>
                        </span>)
                    </span>
                    <br>
                    
                    <input type="checkbox" {% if "live sounds" in genres %} checked {% endif %} id="live_sounds"
                        value="live sounds"> 
                        <label for="live_sounds">Live Sounds</label>
                        <span class="graytext">(Rock, Jazz, Disco, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                Indie Dance<br>
                                Blues<br>
                                Heavy Metal<br>
                                Funk<br>
                                Folk<br>
                                Country<br>
                                Nu Disco<br>
                                Soul<br>
                                R&B<br>
                                Gospel<br>
                                Neo Soul
                            </span>
                        </span>)
                    </span>
                    <br>
                    
                    <input type="checkbox" {% if "cinematic" in genres %} checked {% endif %} id="cinematic"
                        value="cinematic"> 
                        <label for="cinematic">Cinematic</label>
                        <span class="graytext">(Sound FX, Filmscore, Sci-Fi, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                Soundtrack<br>
                                Action<br>
                                Horror<br>
                                Game
                            </span>
                        </span>)
                    </span>
                    <br>

                    <input type="checkbox" {% if "global" in genres %} checked {% endif %} id="global" 
                        value="global">
                        <label for="global">Global</label>
                        <span class="graytext">(Reggae, Dancehall, Indian Music, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                African Music<br>
                                Asian Music<br>
                                South American Music<br>
                                Dub<br>
                                Reggae<br>
                                Latin<br>
                                Middle Eastern Music<br>
                                Reggae<br>
                                Afropop<br>
                                Brazilian Music<br>
                                South Asian Music<br>
                                Caribbean Music
                            </span>
                        </span>)
                    </span>
                    <br>

                    <input type="checkbox" {% if "hip hop" in genres %} checked {% endif %} id="hip_hop" 
                        value="hip hop"> 
                        <label for="hip_hop">Hip Hop</label>
                        <span class="graytext">(Trap, Boom Bap, Lofi Hip Hop, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                East Coast Hip Hop<br>
                                Experimental Hip Hop<br>
                                Southern Hip Hop<br>
                                West Coast Hip Hop
                            </span>
                        </span>)
                    </span>
                    <br>

                    <input type="checkbox" {% if "electronic" in genres %} checked {% endif %} id="electronic"
                        value="electronic"> 
                        <label for="electronic">Electronic</label>
                        <span class="graytext">(Ambient, Experimental, IDM, Chill Out, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                Bit Music<br>
                                Broken Beat<br>
                                Chill Out<br>
                                Downtempo<br>
                                Drone<br>
                                Electronica<br>
                                Glitch<br>
                                IDM<br>
                                Indie Dance<br>
                                Industrial<br>
                                Lo-Fi<br>
                                Synth Pop<br>
                                Trip Hop<br>
                                Synthwave<br>
                                Chiptune
                            </span>
                        </span>)
                    </span>
                    <br>

                    <input type="checkbox" {% if "house / techno" in genres %} checked {% endif %} id="house_techno"
                        value="house / techno"> 
                        <label for="house_techno">House / Techno</label>
                        <span class="graytext">(Deep House, Electro, Tech House, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                House<br>
                                Techno<br>
                                Acid House<br>
                                Bass House<br>
                                Bass Line<br>
                                G House<br>
                                Nu Disco<br>
                                Progressive House<br>
                                Tech House<br>
                                Tribal House<br>
                                UK Garage<br>
                                Classic House<br>
                                Electro House<br>
                                Future House<br>
                                Funky House<br>
                                Garage<br>
                                Progressive House<br>
                                Tech House<br>
                                Tribal House<br>
                                Dub Techno<br>
                                Hardcore<br>
                                Minimal<br>
                                Melodic Techno<br>
                                Hardstyle<br>
                                Hard Techno<br>
                                Tech House<br>
                                Tropical House
                            </span>
                        </span>)
                    </span>
                    <br>

                    <input type="checkbox" {% if "other dance music" in genres %} checked {% endif %} id="other_dance_music"
                        value="other dance music"> 
                        <label for="other_dance_music">Other Dance Music</label>
                        <span class="graytext">(EDM, Psy Trance, Hardstyle, 
                            <span class="tooltip">more...<span class="tooltiptext">
                                Complextro<br>
                                Dance<br>
                                Melbourne Dance<br>
                                Psybient<br>
                                Trance
                            </span>
                        </span>)
                    </span>
                    <br>
                </div>
            

            <br>
            <p>Any comments?</p>
            <textarea name="comments" id="comments" cols="40" rows="5"></textarea>

        </div>
    </div>
</body>

</html>
